@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: "Poppins", sans-serif;
}
/* font family */
.barlow-thin {
    font-family: "Barlow", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.barlow-extralight {
    font-family: "Barlow", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.barlow-light {
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.barlow-regular {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.barlow-medium {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.barlow-semibold {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.barlow-bold {
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.barlow-extrabold {
    font-family: "Barlow", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.barlow-black {
    font-family: "Barlow", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.barlow-thin-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.barlow-extralight-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.barlow-light-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.barlow-regular-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.barlow-medium-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.barlow-semibold-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.barlow-bold-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.barlow-extrabold-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.barlow-black-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 900;
    font-style: italic;
}
/*  */
.hightBanner {
    height: calc(100vh - 140px);
}

.hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.product {
    background-color: white;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 6px 12px -7px;
    transition: 0.4s ease-out;
    position: relative;
}
.custom-dialog-width {
    width: 80% !important; /* Adjust the width as needed */
}
.custom-scrollbar::-webkit-scrollbar {
    display: none;
}
.product:hover {
    box-shadow: 0 10px 12px -7px;
}

.product-image img {
    width: 100%;
}

.product-image .rear-image {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.4s ease-out;
}

.product:hover .rear-image {
    opacity: 1;
    z-index: 0;
}
/* mobile navbar */
.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: var(--swiper-navigation-top-offset, 50%);
    /* width: calc(var(--swiper-navigation-size) / 44 * 27); */
    /* height: var(--swiper-navigation-size); */
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid !important;
    border-radius: 50% !important;
    width: 60px !important;
    height: 60px !important;
    background: #fff;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    cursor: auto;
    display: none;
    pointer-events: none;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    transition: all 0.5s linear;
    left: -200px !important;
    right: auto;
}
.swiper:hover .swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, 10px) !important;
    right: auto;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    transition: all 0.5s linear;
    right: -200px !important;
    left: auto;
}
.swiper:hover .swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, 10px) !important;
    left: auto;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, 8px);
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: fit-content !important;
}
.swiper-pagination-bullet {
    width: 30px !important;
    height: 5px !important;
    display: inline-block;
    border-radius: 20px !important;
    background: #9b9b9b !important;
    opacity: 100 !important;
}
.swiper-pagination-bullet-active {
    background: #fff !important;
    width: 100px !important;
    border-radius: none !important;
}


/* Customizing the track (background) color */
.input-range__track {
    background: rgba(128, 128, 128, 0.123) !important; /* Example of light gray background */
  }
  
  /* Customizing the active range color (the part between min and max) */
  .input-range__track--active {
    background: BLUE !important; /* Example of green active range color */
  }
  

